@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Roboto:wght@300;400;500;700&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    display: block;
}

.row {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    padding: 0 12px 0 12px;
}

.container {
    padding: 32px 0;
}

.text--purple {
    color: rgb(100 21 255);
}

h1 {
    font-size: 54px;
    margin: 24px 0;
}

h2 {
    font-size: 54px;
    margin-bottom: 24px;
}

h5 {
    font-size: 24px;
    color: rgb(100 21 255);
    margin-bottom: 24px;
}

h6 {
    font-size: 24px;
    margin-bottom: 12px;
}

p {
    font-size: 20px;
}

button {
    color: white;
    font-size: 20px;
}

input {
    font-size: 20px;
}

svg {
    display: block;
    vertical-align: middle;
}

element.style {
    opacity: 0;
    height: 0px;
    margin-top: 0px;
}

script {
    display: none;
}

head {
    display: none;
}

/* 

NAV

*/

nav {
    height: 100px;
    display: flex;
    justify-content: space-between;
}

.link__hover-effect {
    color: rgba(49, 47, 47, 0.877);
}

.nav__links {
    display: flex;
    align-items: center;
}

.nav__img--wrapper {
    display: flex;
    align-items: center;
}

.nav__img {
    max-width: 45px;
}

.nav__treact {
    padding-left: 12px;
    font-size: 20px;
}



.nav__link--dime {
    margin-left: 18px;
}

.btn {
    padding: 14px 32px;
    background-color: rgba(75, 16, 194, 0.788);
    border-radius: 50px;
    transition: all 300ms ease;
    border: none;
}

.btn:hover {
    background-color: rgba(88, 18, 228, 0.945);
}

.nav__anchor--primary {
    color: white;
}

li {
    padding: 0 24px;
    list-style-type: none;
}

a {
    text-decoration: none;
}

.nav__link {
    font-weight: 700;
    font-size: 18px;
}

.btn__menu {
    background-color: transparent;
    font-size: 40px;
    text-align: center;
    border: none;
    color: #7342d6;
    display: none;
}

.menu__backdrop {
    position: absolute;
    background-color: #242424;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
}

.menu--open .menu__backdrop {
    display: flex;
}

.menu__ul {
   display: flex;
   flex-direction: column;
   align-items: center;

}

.menu__list {
    padding: 32px 0;
}

.menu__link {
    font-size: 24px;
    color: white;
}

.btn__menu--close {
    position: absolute;
    right: 20px;
    top: 10px;
    padding: 8px;
    color: white;
}

.fas.fa-x {
    height: 2rem;
    width: 2rem;
    color: white;
}

/* 

LANDING

*/

.landing__row {
    display: flex;
}

.landing__left--container {
    width: 40%;
    display: flex;
    flex-direction: column;
}

.landing__left--bottom {
    margin-top: 74px;
}

.landing__right--container {
    width: 60%;
}

.landing__img {
    width: 100%;
}

.landing__img--b {
    width: 100%;
    max-width: 380px;
    margin-top: 18px;
}

.landing__email {
    padding: 12px 24px;
    border-radius: 50px;
}

.landing__email--container {
    margin-top: 32px;
}

.landing__para {
    padding: 0;
}

/* 

FEATURES

*/

.features__h5 {
    text-align: center;
}

.features__h2 {
    text-align: center;
    margin: 20px 0;
}

.features__para {
    max-width: 900px;
    margin: 0 auto;
    font-size: 24px;
    text-align: center;
    margin-bottom: 48px;
}

.features__row {
    margin-left: 12px;
}

.features__links {
    display: flex;
    flex-wrap: wrap;
    height: 200px;
}

.features__link {
    width: calc(100% / 3);
}

.features__container {
    display: flex;
}

.features__span {
    font-size: 32px;
}

.features__para--1 {
    font-size: 20px;
    margin: 0 auto;
    text-align: left;
    line-height: 2;
    color: rgb(124 139 161);
}

.features__img--container {
    flex-shrink: 0;
    border-radius: 9999px;
    border-width: 1px;
    padding: 1.25rem;
    text-align: center;
    border-style: solid;
    height: 25px;
}

/* 

QUALITY WORKS 

*/

.qw--para {
    margin-bottom: 24px;
}

.qw--row {
    display: flex;
}

.quality-work__left--container {
    width: 50%;
}

.quality-work__right--container {
    width: 50%;
    margin-left: 24px;
}

.qw--img {
    width: 100%;
}

/* 

STEPS 

*/

.steps--row {
    display: flex;
    align-items: center;
    justify-content: center;
}

.steps__left--container {
    width: 50%;
}

.steps__img {
    width: 100%;
}

.steps__right--container {
    width: 50%;
}

.steps__li {
    display: flex;
    margin-bottom: 24px;
}

.steps__numbering {
    margin-right: 18px;
    color: rgb(203 213 224);
    font-size: 48px;
    line-height: 1;
}

/* 

VALUES 

*/

.values__row {
    display: flex;
    align-items: center;
}

.values__left--container {
    width: 50%;
}

.values__right--container {
    width: 50%;
}

.values__img {
    width: 100%;
}

.values__para {
    margin-bottom: 24px;
}

.values__ul {
    margin-bottom: 36px;
    display: flex;
}

.values__paint {
    display: flex;
    align-items: center;

}

.values__para--1 {
    margin: 12px 0;
}

.values__affordable {
    margin-left: 12px;
    font-size: 20px;
}

.values__colored--bg {
    padding: 14px 14px;
    background-color: rgb(154 230 180);
    border-radius: 9999px;
    color: rgb(39 103 73);
}

.values__colored--bg2 {
    padding: 14px 14px;
    border-radius: 9999px;
    background-color: rgb(254 178 178);
}

/* 

PRICING

*/

.pricing__text {
    text-align: center;
    margin-bottom: 54px;
}

.pricing__para {
    width: 100%;
    text-align: center;
}

.pricing__plans {
    display: flex;
    flex-direction: wrap;
}

.pricing__top {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pricing__number {
    font-size: 54px;
    margin: 24px;
}

.pricing__plan {
    font-size: 24px;
    font-weight: 500;
}

.pricing__time {
    font-size: 18px;
    color: rgb(160 174 192);
}

.pricing__time--m {
    font-size: 18px;
    color: white;
}

.pricing__middle {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 36px 0;
}

.pricing__bundle {
    margin-bottom: 36px;
    width: calc(100% / 3);
    padding: 36px 12px 36px 12px;
}

.pricing__bundle--2 {
    margin-bottom: 36px;
    width: calc(100% / 3);
    padding: 36px 12px 36px 12px;
    border-radius: 10px;
    background-image: linear-gradient(135deg, rgb(76, 81, 191) 0%, rgb(102, 126, 234) 100%);
    color: rgb(247 250 252);
}

.pricing__btn {
    display: flex;
    justify-content: center;
}

.pricing__line--items {
    margin: 9px 0;
    font-size: large;
}

.btn__personal {
    padding: 14px 94px;
    background: linear-gradient(115deg, rgb(56, 178, 172) 0%, rgb(129, 230, 217) 100%);
    border-radius: 50px;
    transition: all 300ms ease;
    border: none;
}

.btn__business {
    padding: 14px 94px;
    background-color: rgb(247 250 252);
    color: rgb(100, 21, 255);
    border-radius: 50px;
    transition: all 300ms ease;
    border: none;
}

.btn__enterprise {
    padding: 14px 94px;
    background: linear-gradient(115deg, rgb(245, 101, 101) 0%, rgb(254, 178, 178) 100%);
    border-radius: 50px;
    transition: all 300ms ease;
    border: none;
}

/* 

TESTIMONIALS

*/

.test__row {
    display: flex;
    align-items: center;
}

.test__left--container {
    width: 50%;
    padding-right: 58px;
}

.test__right--container {
    width: 50%;
}

.test__para {
    margin: 24px 0;
}

.test__img {
    width: 100%;
}

.kpsZpj {
    margin-right: 0.25rem;
    display: inline-block;
    height: 1.25rem;
    width: 1.25rem;
    fill: currentcolor;
    --tw-text-opacity: 1;
    color: rgb(246 173 85 / var(--tw-text-opacity));
    margin-bottom: 12px;
}

.test__whole--wrapper {
    display: flex;
    width: 100%;
    margin-top: 36px;
}

.test__img--bracket {
    display: flex;
    width: 100%;
    align-items: center;
}

.test__img--2 {
    max-width: 100px;
    border-radius: 9999px;
}

.test__bold--text {
    font-size: 24px;
}

.test__name {
    color: black;
    margin-bottom: 12px;
}

.test__name--wrapper {
    padding-left: 24px;
}

.btn__point--left {
    margin-left: 0.75rem;
    margin-right: 0.75rem;
    border-radius: 9999px;
    --tw-bg-opacity: 1;
    background-color: rgb(237 242 247 / var(--tw-bg-opacity));
    padding: 1.5rem;
    --tw-text-opacity: 1;
    color: rgb(100 21 255 / var(--tw-text-opacity));
    transition-property: background-color, border-color, color, fill, stroke, opacity, box-shadow, transform;
    transition-duration: 300ms;
    border-style: none;
}

.btn__point--left svg {
    height: 1rem;
    width: 1rem;
    stroke-width: 3;
}

.test__btn--wrapper .divider {
    margin-top: 0.75rem;
    margin-bottom: 0.75rem;
    border-right-width: 1px;
}

.btn__point--right {
    margin-left: 0.75rem;
    margin-right: 0.75rem;
    border-radius: 9999px;
    --tw-bg-opacity: 1;
    background-color: rgb(237 242 247 / var(--tw-bg-opacity));
    padding: 1.5rem;
    --tw-text-opacity: 1;
    color: rgb(100 21 255 / var(--tw-text-opacity));
    transition-property: background-color, border-color, color, fill, stroke, opacity, box-shadow, transform;
    transition-duration: 300ms;
    border-style: none;
}

.btn__point--right svg {
    height: 1rem;
    width: 1rem;
    stroke-width: 3;
}

.test__btn--wrapper {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

/* 

FAQS

*/

.faqs__text {
    text-align: center;
    margin-bottom: 24px;
}

/* 

DEVELOPERS

*/

.developers__row {
    background-color: rgb(100 21 255);
}

.dev__h5--holder {
    display: flex;
    align-items: center;
    margin: 0;
}

.developers__h5 {
    color: rgb(247 250 252);
}

.dev__holder {
    position: relative;
    border-radius: 0.5rem;
    --tw-bg-opacity: 1;
    background-color: rgb(100 21 255 / var(--tw-bg-opacity));
    padding-top: 5rem;
    padding-bottom: 5rem;
}

.dev__holder--2 {
    position: relative;
    z-index: 10;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    max-width: 1024px;
    -webkit-box-align: center;
    justify-content: space-around;
    padding-left: 2rem;
    padding-right: 2rem;
    text-align: center;
    align-items: center;
}

.dev__holder--3 {
    display: flex;
}

.dev__a {
    margin: 0 24px;
    padding: 18px 36px;
    border-radius: 9999px;
    border-width: 1px;
    border-color: transparent;
    background-color: rgb(245 101 101);
    color: rgb(247 250 252);
    box-shadow: var(--tw-ring-offset-shadow,0 0 #0000),var(--tw-ring-shadow,0 0 #0000),var(--tw-shadow);
}

.dev__a--2 {
    margin: 0 24px;
    padding: 18px 36px;
    border-radius: 9999px;
    border-color: rgb(160 174 192 / var(--tw-border-opacity));
    --tw-border-opacity: 1;
    color: rgb(247 250 252);
}

.dev__circle--holder {
    position: absolute;
    inset: 0px;
    overflow: hidden;
    border-radius: 0.5rem;
}

.gidxtt {
    position: absolute;
    bottom: 0px;
    left: 0px;
    height: 20rem;
    width: 20rem;
    --tw-translate-x: -5rem;
    transform: translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
    --tw-translate-y: 8rem;
    --tw-text-opacity: 1;
    color: rgb(80 17 204 / var(--tw-text-opacity));
    opacity: 0.5;
}

.kFtFRr {
    position: absolute;
    top: 0px;
    right: 0px;
    height: 20rem;
    width: 20rem;
    --tw-translate-x: 5rem;
    transform: translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
    --tw-translate-y: -16rem;
    --tw-text-opacity: 1;
    color: rgb(80 17 204 / var(--tw-text-opacity));
    opacity: 0.5; 
}

/* 

FOOTER

*/

.footer__df {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer__row {
    background-color: rgb(100 21 255);
}

.footer__h5 {
    padding-top: 54px;
    color: white;
    text-align: center;
}

.footer__text--wrappper {
    text-align: center;
}

.footer__ul {
    text-align: center;
}

.footer__li {
    padding: 9px 12px;
    color: white;
}

.footer__df--2 {
    display: flex;
    justify-content: space-between;
    padding: 0 24px;
    padding-bottom: 36px;
}

.footer__figure {
    display: flex;
}

.footer__img {
    width: 2.5rem;
}

.footer__space {
    margin-top: 4rem;
    margin-bottom: 4rem;
    width: 100%;
    border-bottom-width: 2px;
    --tw-border-opacity: 1;
    border-color: rgb(116 44 255);
}

.footer__h5--2 {
    margin: 0;
    margin-left: 9px;
    font-size: 1.25rem;
    font-weight: 900;
    --tw-text-opacity: 1;
    color: rgb(247 250 252);
}

.footer__df--3 {
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer__para {
    color: rgb(247 250 252);
}

.footer__link--holder {
    display: flex;
    align-items: center;
    border: none;
}

.footer__link--fb {
    margin-right: 1rem;
    cursor: pointer;
    border-radius: 9999px;
    --tw-bg-opacity: 1;
    background-color: rgb(247 250 252 / var(--tw-bg-opacity));
    padding: 0.5rem;
    --tw-text-opacity: 1;
    color: rgb(26 32 44 / var(--tw-text-opacity));
    transition-property: background-color, border-color, color, fill, stroke, opacity, box-shadow, transform;
    transition-duration: 300ms;
}

.footer__link--fb svg {
    height: 1rem;
    width: 1rem;
}

.footer__link--x {
    margin-right: 1rem;
    cursor: pointer;
    border-radius: 9999px;
    --tw-bg-opacity: 1;
    background-color: rgb(247 250 252 / var(--tw-bg-opacity));
    padding: 0.5rem;
    --tw-text-opacity: 1;
    color: rgb(26 32 44 / var(--tw-text-opacity));
    transition-property: background-color, border-color, color, fill, stroke, opacity, box-shadow, transform;
    transition-duration: 300ms;
}

.footer__link--x svg {
    height: 1rem;
    width: 1rem;
}

.footer__link--yt:last-child {
    margin-right: 0px;
}

.footer__link--yt {
    margin-right: 1rem;
    cursor: pointer;
    border-radius: 9999px;
    --tw-bg-opacity: 1;
    background-color: rgb(247 250 252 / var(--tw-bg-opacity));
    padding: 0.5rem;
    --tw-text-opacity: 1;
    color: rgb(26 32 44 / var(--tw-text-opacity));
    transition-property: background-color, border-color, color, fill, stroke, opacity, box-shadow, transform;
    transition-duration: 300ms;
}

.footer__link--yt svg {
    height: 1rem;
    width: 1rem;
}

.footer__circle--holder {
    position: relative;
    inset: 0px;
    overflow: hidden;
    border-radius: 0.5rem;
}

.eqOzdE {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 20rem;
    width: 20rem;
    --tw-translate-x: -5rem;
    transform: translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
    --tw-translate-y: -8rem;
    --tw-text-opacity: 1;
    color: rgb(80 17 204 / var(--tw-text-opacity));
    opacity: 0.5;
}

.bbIulZ {
    position: absolute;
    bottom: 0px;
    right: 0px;
    height: 20rem;
    width: 20rem;
    --tw-translate-x: 8rem;
    transform: translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
    --tw-translate-y: 12rem;
    --tw-text-opacity: 1;
    color: rgb(80 17 204 / var(--tw-text-opacity));
    opacity: 0.5;
}

/* 

MEDIA QUERY

*/

@media (max-width: 945px) {
    .landing__left--container {
        width: 100%;
        text-align: center;
    }

    .landing__email--container {
        display: flex;
        margin: 0 auto;
        margin-top: 24px;
    }

   .landing__row {
    display: flex;
    flex-direction: column;
   } 

   .landing__img--b {
    margin: 0 auto;
    margin-top: 12px;
    margin-bottom: 12px;
   }

   .landing__right--container {
    margin: 0 auto;
   }

   .features__links {
    margin-bottom: 50px;
   }

   .features__link {
    width: 50%;
    margin-bottom: 24px;
   }

   .section__space {
    height: 300px;
   }

   .qw--row {
    display: flex;
    align-items: center;
   }

   .values__ul {
    display: flex;
    flex-direction: column;
   }

   .values__li {
    margin: 12px 0;
    padding: 0;
   }

   .pricing__plans {
    display: flex;
    flex-wrap: wrap;
   }

   .pricing__bundle {
    width: 50%;
    margin: 0 auto;
   }

   .pricing__bundle--2 {
    width: 50%;
    margin: 0 auto;
   }

   .dev__holder--2 {
    display: flex;
    flex-direction: column;
   }

   .nav__links {
    display: none;
   }

   .btn__menu {
    display: block;
   }
}